<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDIVIDUAL</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href='/static/styles/style_add_sprinkler.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <!-----header begins----->
    <header>
        <div class="header">
            <h3>SMART <span> WATERING SYSTEM</span></h3>
        </div>
    </header>
    <!-----header ends----->

    <!-----sidebar begins----->
    <div class="sidebar">
        <center>
            <h4>MAIN MENU</h4>
        </center>
        <a href="/"><i class="fas fa-users"></i><span>Dashboard</span></a>
        <a href="/add_Sprinkler"><i class="fas fa-plus"></i><span>Add Sprinkler</span></a>
        <a href="/set_time"><i class="fas fa-clock"></i><span>Timer Mode </span></a>
        <a href="/weather"><i class="fas fa-cloud-sun-rain"></i><span>Weather Data</span></a>
    </div>
    <!-----sidebar ends----->
    <!-----page content begins----->
    <div class="content">
      
    </div>        
    <!-----page content ends----->
    <script type="text/javascript" src=""></script>
</body>
</html>
<head>
    
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      flex: auto;
      width: 100%;
    }
    
    td, th {
      border: 1px solid yellowgreen;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color:yellow;
    }
    </style>
    </head>
    <body>
    
    <h2>SPRINKLER STATUS HISTORY</h2>
    
    <table>
      <tr>
        <th>Sprinkler</th>
        <th>Status</th>
        <th>Time</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr><tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr><tr>
        <td></td>
        <td></td>
        <td></td>
      </tr><tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    
    </body>