<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMART WATERING SYSTEM</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href='/static/styles/style.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check" class= "label">
        <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <!-----header begins----->
    <header>
        <div class="header">
            <h3>SMART <span> WATERING SYSTEM</span></h3>
        </div>
    </header>
    <!-----header ends----->

    <!-----sidebar begins----->
    <div class="sidebar">
        <center>
            <h4>MAIN MENU</h4>
        </center>
        <a href="/"><i class="fas fa-users"></i><span>Dashboard</span></a>
        <a href="/add_Sprinkler"><i class="fas fa-plus"></i><span>Add Sprinkler</span></a>
        <a href="/set_time"><i class="fas fa-clock"></i><span>Timer Mode </span></a>
        <a href="/history"><i class="fas fa-desktop"></i><span>History</span></a>
    </div>
    <!-----sidebar ends----->

    <!-----page content begins----->
    <div class="content">

        <!-- <div class="sprinkler_data">
            <div class="buttons">
                <div class="w3-right">
                    <input type="checkbox" id="switch_1" /><label for="switch_1">Toggle</label>
                  </div>
                <div class="delete" id="C0:33:FF:A1">X</div>
            </div>
            <div class="sprinkler_img">
                <img class="img" id="C0:33:FF:A1" src="designs/images/sprinkler.jpg" alt=""> 
            </div>
            <div class="display">
                <div class="sprinkler_name"><span>Sprinkler Name</span><span>Sprinkler 1</span></div>
                <div class="sprinkler_location"><span>Location</span><span>Pepper Farm</span></div>
            </div>
        </div> -->

    </div>        
    <!-----page content ends----->
    <script type="text/javascript" src="/static/styles/script.js"></script>
</body>
</html>

